SSO_ADAPTER_DIFY_URL="http://172.24.102.9:8091"
SSO_ADAPTER_SSO_URL="http://172.24.102.9:8092"
SSO_ADAPTER_CONFIG_PATH="D:/WorkSpaces/anchnet/海尔/codes/sso-adapter/config/mapping.yaml"
SSO_ADAPTER_USE_MODE="proxy" # proxy or normal
SSO_ADAPTER_DIFY_HOST="http://172.24.102.9:8091"